body {
    font-family: 'Space Mono', monospace;
    margin: 7rem;    
    height: 100vh;
    background-image: url(./images/stationeleven.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div {
    background-color: ivory;
    width: 35rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-color: lightskyblue;
    border-style: dashed;
}

#text {
    white-space: pre-line;
}

#opt-1 {
    background-color: dodgerblue;
    border-color: dodgerblue;
    border-radius: 15px;
    padding: 1rem;
    height: 4rem;
    color: ivory;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}

#opt-2 {
    background-color: dodgerblue;
    border-color: dodgerblue;
    border-radius: 15px;
    padding: 1rem;
    height: 4rem;
    color: ivory;
    font-family: 'Space Mono', monospace;
    font-size: 1rem;
}

.hidden {
    display: none;
}